* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #faf4ff;
    color: #32294f;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.nav {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    z-index: 100;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    color: #4a40e0;
}

.menu {
    display: none;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #666;
}

.icons span {
    margin-left: 10px;
    cursor: pointer;
}

.hero {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-text h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 2.5rem;
}

.hero-text span {
    color: #4a40e0;
}

.hero-text p {
    margin-top: 15px;
    color: #5f557f;
}

.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn-primary {
    background: linear-gradient(135deg, #4a40e0, #9795ff);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
}

.btn-link {
    background: none;
    border: none;
    color: #4a40e0;
}

.hero-img img {
    width: 100%;
    border-radius: 30px;
}

.features {
    margin-top: 80px;
    display: grid;
    gap: 20px;
}

.feature {
    background: white;
    padding: 30px;
    border-radius: 20px;
}

.feature span {
    font-size: 30px;
    color: #4a40e0;
    color: #4a40e0
}

.products {
    margin-top: 80px;
}

.grid {
    display: grid;
    gap: 20px;
}

.product img {
    width: 100%;
    border-radius: 20px;
}

.footer {
    margin-top: 80px;
    padding: 20px;
    background: black;
    color: white;
    text-align: center;
}


/* RESPONSIVO */

@media (min-width: 768px) {
    .menu {
        display: block;
    }
    .hero {
        flex-direction: row;
        align-items: center;
    }
    .features {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .hero-text h1 {
        font-size: 4rem;
    }
}